* {
    margin: auto;
    background: #223a43;
}


/*.hide {
    display: none;
}*/

.mainContainer {
    display: block;
    margin: 50px auto 0 auto;
    text-align: center;
}

h2 {
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: .5em 0 .5em 0;
    color: #f4e8c1;
    font-weight: bold;
    text-align: center;
    font-size: 36px;
}

h4 {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 1em 0 1em 0;
    color: #f4e8c1;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

p {
    font-family: 'Raleway', sans-serif;
    color: #f4e8c1;
    padding: 1em 0 1em 0;
    font-size: 18px;
}

.prog {
    display: block;
    margin: auto;
    text-align: center;
}

i {
    padding: 0 20px 0 20px;
}

.fa-circle {
    color: #6b8f71;
}

button:hover {
    cursor: pointer;
}

.more {
    border-radius: 50px;
    border: 2px solid #6b8f71;
    height: 100px;
    width: 100px;
    margin: 0 50px 0 50px;
    color: #f4e8c1;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

#meet {
    border-radius: 50%;
    border: 2px solid #6b8f71;
    height: 150px;
    width: 150px;
    color: #f4e8c1;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

textarea {
    display: block;
    width: 400px;
    height: 100px;
    margin: 10px auto 20px auto;
    color: #f4e8c1;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    border: 1px solid #f4e8c1;
}

.btnContinue {
    background: #6b8f71;
    color: #f4e8c1;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    border: none;
    border-radius: 12px;
    line-height: 2em;
}

input[type=submit]:hover {
    cursor: pointer;
}

select {
    color: #f4e8c1;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    border: none;
    border-radius: 12px;
    background: #6b8f71;
}

input {
    color: #f4e8c1;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    border: none;
}

.bottomBrdr {
    border-bottom: 2px solid #6b8f71;
}

#submitBtn {
    background: #6b8f71;
    color: #f4e8c1;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 2em;
    border: none;
    border-radius: 12px;
}