h2 {
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: .5em 0 .5em 0;
    color: #223a43;
    font-weight: bold;
    text-align: center;
    font-size: 36px;
}

h3 {
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 1em 0 1em 0;
    color: #223a43;
    font-weight: bold;
    text-align: center;
}

h4 {
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 1em 0 1em 0;
    color: #223a43;
    font-weight: bold;
    text-align: center;
}

ul li {
    display: inline-block;
    margin: auto;
    width: 100px;
}

#prog {
    width: 600px;
    height: 50px;
    margin: auto;
    display: inline-block;
}

.fa-circle {
    color: #6b8f71;
}

button {
    border-radius: 30px;
    /*width: 60px;
    height: 60px;*/
}

.more {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background: blue;
}

#meet {
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

textarea {
    display: block;
    width: 400px;
    height: 100px;
    margin: 10px auto 20px auto;
}