/** {
    margin: auto;
}*/

.hide {
    display: none;
}

.mainContainer {
    display: block;
    margin: 50px auto 0 auto;
    text-align: center;
}

h2 {
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: .5em 0 .5em 0;
    color: #223a43;
    font-weight: bold;
    text-align: center;
    font-size: 36px;
}

h3 {
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 1em 0 1em 0;
    color: #223a43;
    font-weight: bold;
    text-align: center;
}

h4 {
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 1em 0 1em 0;
    color: #223a43;
    font-weight: bold;
    text-align: center;
}

.prog {
    display: block;
    margin: auto;
    text-align: center;
}

i {
    padding: 0 20px 0 20px;
}

.fa-circle {
    color: #6b8f71;
}

.more {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background: blue;
    margin: 0 50px 0 50px;
}

#meet {
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

textarea {
    display: block;
    width: 400px;
    height: 100px;
    margin: 10px auto 20px auto;
}